* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 10px 0 20px;
  background-color: #2F2235;
  transition: all 0.2s;
}

.logo {
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.2s;
}

.logo span {
  color: #34D1D1;
}

.name {
  color: #FFF;
  font-size: 20px;
  transition: all 0.2s;
}

.primary-divider {
  display: block;
  width: 30%;
  border: 1px solid #3F3244;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.accordion-card {
  width: 100%;
}

.banner-title {
  font-weight: 300;
}

.secondary-divider {
  width: 30%;
}

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #D1D2D3;
  width: 90%;
  margin: 10px auto;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #F2F2F2;
  border: 1px solid #FFF;
  cursor: pointer;
}

.tab:hover {
  background-color: #34D1D1;
}

.tab:focus {
  outline: none;
}

.tab-title {
  color: #666666;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 300;
}

.tab-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url(./assets/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.accordion-card-body {
  display: none;
}

.active .accordion-card-body {
  position: relative;
  display: block;
}

.active .tab-icon {
  background-image: url(./assets/substract.svg);
}

.active .tab-title {
  font-size: 30px;
  font-weight: 600;
}

.active .tab {
  background-color: #FFF;
  border: none;
}

.accordion-text {
  width: 100%;
  padding: 20px 30px;
}

.accordion-card-text {
  margin: 20px 0;
}

.accordion-img {
  width: 95%;
  height: 200px;
  margin: 10px;
}

.accordion-divider {
  border: 1px solid #D1D2D3;
}

.code-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px 20px;
  margin: 40px auto;
  background-color: #3F3244;
  color: #FFF;
  cursor: pointer;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.code-link:hover {
  background-color: #735e7c;
}

.code-link:focus {
  outline: none;
}

.flexible-cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  flex-wrap: wrap;
}

.flexible-card {
  flex: 1;
  min-width: 30%;
  margin: 20px 0;
}

.flexible-card-header {
  padding: 15px;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flexible-card-body {
  width: 100%;
  height: 250px;
  border: 1px solid #D1D2D3;
}

.flexible-img {
  width: 100%;
  height: 100%;
}


.header-component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  margin: 50px auto 500px;
  background-color: #AAAAAA;
}

.header-logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: #D1D2D3;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: #4E4E4E;
  font-size: 20px;
  font-weight: lighter;
}

.nav {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
  background-color: #D1D2D3;
  transition: all 0.2s;
}

.nav-active .nav {
  display: flex; 
}

.nav-link {
  margin: 15px 20px;
  color: #4E4E4E;
  font-size: 25px;
  text-decoration: none;
}

.search {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  width: 90%;
  height: 40px;
  margin: 0 auto 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: lighter;
}


@media screen and (min-width: 450px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
  }

  .logo {
    margin-left: 50px;
    font-size: 25px;
  }

  .name {
    margin-right: 50px;
  }

  .primary-divider {
    display: none;
  }

  .banner {
    flex-direction: row;
    margin: 50px 0 50px 50px;
  }

  .secondary-divider {
    width: 70%;
  }

  .accordion {
    flex-direction: row;
    width: 80%;
    height: 420px;
    overflow: scroll;
  }

  .tab {
    justify-content: center;
    height: 60px;
  }

  .tab-title {
    margin-left: 0;
    font-size: 20px;
  }

  .tab-icon {
    display: none;
  }

  .active .accordion-card-body {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .accordion-img {
    width: 250px;
    height: 300px;
    margin-left: 20px;
  }

  .accordion-text {
    width: 100%;
    margin-right: 20px;
  }

  .code-link {
    width: 400px;
  }

  .flexible-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexible-card {
    width: 30%;
    max-width: 50%;
    margin: 20px 10px;
  }

  .flexible-card-m {
    width: 62%;
    margin: 20px 10px;
  }

  .flexible-card-l {
    width: 100%;
    margin: 20px 10px;
  }

  .menu {
    display: none;
  }

  .nav {
    position: relative;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 50px;
    padding-top: 0px;
    background-color: transparent;
    margin-top: 0px;
  }

  .nav-link {
    margin: 15px 20px;
    color: #4E4E4E;
    font-size: 16px;
    text-decoration: none;
  }

  .search {
    background-color: #F2F2F2;
    border: 1px solid #666666;
    width: 300px;
    height: 40px;
    margin: 0 auto 10px;
    padding: 15px 5px;
    font-size: 20px;
  }
}
