* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 10px 0 20px;
  background-color: #2F2235;
  transition: all 0.2s;
}

.logo {
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.2s;
}

.logo span {
  color: #34D1D1;
}

.name {
  color: #FFF;
  font-size: 20px;
  transition: all 0.2s;
}

.primary-divider {
  display: block;
  width: 30%;
  border: 1px solid #3F3244;
}

.accordion-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.accordion-card {
  width: 100%;
}

.accordion-title {
  font-weight: 300;
}

.secondary-divider {
  width: 30%;
}

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #D1D2D3;
  width: 90%;
  margin: 10px auto;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #F2F2F2;
  border: 1px solid #FFF;
  cursor: pointer;
}

.tab:hover {
  background-color: #34D1D1;
}

.tab:focus {
  outline: none;
}

.tab-title {
  color: #666666;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 300;
}

.tab-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url(./assets/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.accordion-card-body {
  display: none;
}

.active .accordion-card-body {
  position: relative;
  display: block;
}

.active .tab-icon {
  background-image: url(./assets/substract.svg);
}

.active .tab-title {
  font-size: 30px;
  font-weight: 600;
}

.active .tab {
  background-color: #FFF;
  border: none;
}

.accordion-text {
  width: 100%;
  padding: 20px 30px;
}

.accordion-card-text {
  margin: 20px 0;
}

.accordion-img {
  width: 95%;
  height: 200px;
  margin: 10px;
}

.accordion-divider {
  border: 1px solid #D1D2D3;
}

.code-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px 20px;
  margin: 40px auto;
  background-color: #3F3244;
  color: #FFF;
  cursor: pointer;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.code-link:hover {
  background-color: #735e7c;
}

.code-link:focus {
  outline: none;
}

@media screen and (min-width: 450px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
  }

  .logo {
    margin-left: 50px;
    font-size: 25px;
  }

  .name {
    margin-right: 50px;
  }

  .primary-divider {
    display: none;
  }

  .accordion-banner {
    flex-direction: row;
    margin: 50px 0 50px 50px;
  }

  .secondary-divider {
    width: 70%;
  }

  .accordion {
    flex-direction: row;
    width: 80%;
    height: 420px;
    overflow: scroll;
  }

  .tab {
    justify-content: center;
    height: 60px;
  }

  .tab-title {
    margin-left: 0;
    font-size: 20px;
  }

  .tab-icon {
    display: none;
  }

  .active .accordion-card-body {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .accordion-img {
    width: 250px;
    height: 300px;
    margin-left: 20px;
  }

  .accordion-text {
    width: 100%;
    margin-right: 20px;
  }

  .code-link {
    width: 400px;
  }
}
